body {
  background-image: url(./lotrpic.jpg);
  background-color: gray;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.App {
  text-align: center;
  font-weight: bold;
  width: 100vw;
}

.Blippo {
  font-family: 'Blippo', fantasy;
}

#Header {
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: .5vh;
  color: white;
  background-image: url("./lotr_background1.jpg");
  background-size: cover;
}

#Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ui.segment.Segment {
  height: 30vh;
  width: 90%;
  overflow: scroll;
  margin-left: 3%;
}

.ui.form input:not([type]) {
  width: 90%;
}

Button {
  color:black;
}

a {
  color:black;
  text-decoration:none;
}